
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #00a884, #1b9cfc);
  color: #fff;
}

.header {
  background-color: transparent;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff; 
  text-decoration: none; 
  padding: 8px 12px; 
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: rgba(255, 255, 255, 0.2); /* Light background on hover and focus */
  color: #1b9cfc; /* Change text color on hover and focus */
}

/* Main Content Styles */
h1 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px; /* Adjust this value according to the height of your header */
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

/* Button Styles */
button {
  padding: 10px;
  background-color: #1b9cfc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Feedback and Error Messages */
.feedback-message {
  color: green;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

/* List Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}
